<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Script-Type" content="text/javascript" />
  <meta http-equiv="Content-Style-Type" content="text/css" />

  <title>$title</title>

		<!-- Le styles -->
		<link href="/bootstrap/docs/assets/css/bootstrap.css" rel="stylesheet">
		<link href="/bootstrap/docs/assets/css/bootstrap-responsive.css" rel="stylesheet">
		
		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!-- [if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js></script>
		<![endif]-->
		
		<!-- Fav and touch icons -->
		<link rel="schortcut icon" href="/bootstrap/docs/assets/ico/favicon.ico">
		<link rel="apple-touch-icon-precomposed" size="144x144" href="/bootstrap/docs/assets/ico/apple-touch-icon-144-precomposed.png">
		<link rel="apple-touch-icon-precomposed" size="114x114" href="/bootstrap/docs/assets/ico/apple-touch-icon-114-precomposed.png">
	    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/bootstrap/docs/assets/ico/apple-touch-icon-72-precomposed.png">
	    <link rel="apple-touch-icon-precomposed" href="/bootstrap/docs/assets/ico/apple-touch-icon-57-precomposed.png">	
  
  
	$head
</head>
<body>
$body

	    <!-- Le javascript
	    ================================================== -->
	    <!-- Placed at the end of the document so the pages load faster -->
	    <script src="/bootstrap/docs/assets/js/jquery.js"></script>
	    <script src="/bootstrap/docs/assets/js/bootstrap-transition.js"></script>
	    <script src="/bootstrap/docs/assets/js/bootstrap-alert.js"></script>
	    <script src="/bootstrap/docs/assets/js/bootstrap-modal.js"></script>
	    <script src="/bootstrap/docs/assets/js/bootstrap-dropdown.js"></script>
	    <script src="/bootstrap/docs/assets/js/bootstrap-scrollspy.js"></script>
	    <script src="/bootstrap/docs/assets/js/bootstrap-tab.js"></script>
	    <script src="/bootstrap/docs/assets/js/bootstrap-tooltip.js"></script>
	    <script src="/bootstrap/docs/assets/js/bootstrap-popover.js"></script>
	    <script src="/bootstrap/docs/assets/js/bootstrap-button.js"></script>
	    <script src="/bootstrap/docs/assets/js/bootstrap-collapse.js"></script>
	    <script src="/bootstrap/docs/assets/js/bootstrap-carousel.js"></script>
	    <script src="/bootstrap/docs/assets/js/bootstrap-typeahead.js"></script>

</body>
</html>
